.banner-header {
  height: 400px;
  background-color: #fff;
  margin: 20px 0;
  border: 1px solid #ddd;
  border-radius: 6px;
  position: relative;
}

.banner-content {
  width: 90%;
  position: absolute;
  z-index: 0;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}