<mat-toolbar color="primary" class="mat-elevation-z6">
  <span>Angular playground</span>
  <span class="dash"></span>
  <div>
    <a mat-button [routerLink]="['/patients']" routerLinkActive="active-link">Patients</a>
    <a mat-button [routerLink]="['/caregivers']" routerLinkActive="active-link">Caregivers</a>
    <a mat-button [routerLink]="['/css-animation']" routerLinkActive="active-link">Ball Animation</a>
  </div>
  <span class="spacer"></span>
  <a 
    mat-icon-button
    aria-label="home icon"
    color="white"
  >
    <mat-icon *ngIf="!messageService.isDisplayed" (click)="displayMessages()">mail</mat-icon>
    <mat-icon *ngIf="messageService.isDisplayed" (click)="hideMessages()">drafts</mat-icon>
  </a>
  <a [routerLink]="['/']" mat-icon-button aria-label="home icon" color="white">
    <mat-icon>home</mat-icon>
  </a>
</mat-toolbar>
<div class="main-container">
  <div class="flex-5"><router-outlet></router-outlet></div>
  
  <div class="flex-1" *ngIf="messageService.isDisplayed">
    <router-outlet name="popup">message</router-outlet>
  </div>
</div>